*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}
body{background:#0b0b0b;color:white;}

a{text-decoration:none;color:white}

/* Top Bar */
.topbar{
  height:60px;
  background:black;
  color:#e50914;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 20px;
  font-size:22px;
  font-weight:bold;
}

/* Nav */
.nav a{
  margin-left:20px;
  font-size:14px;
}

/* Hero */
.hero{
  height:55vh;
  background:linear-gradient(to top,rgba(0,0,0,.85),rgba(0,0,0,.3)),
  url("https://images.pexels.com/photos/799158/pexels-photo-799158.jpeg");
  background-size:cover;
  display:flex;
  align-items:flex-end;
  padding:20px;
}

.hero h1{font-size:28px}
.hero p{margin:10px 0}

/* Buttons */
.btn{
  background:#e50914;
  padding:10px 20px;
  border:none;
  border-radius:5px;
  color:white;
}

/* Sections */
.section{padding:15px;font-size:20px}

/* Cards */
.grid{
  display:flex;
  gap:15px;
  overflow-x:auto;
  padding:15px;
}

.card{
  min-width:180px;
  background:#1a1a1a;
  border-radius:10px;
  cursor:pointer;
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:10px 10px 0 0;
}

.card p{padding:10px;font-size:14px}

/* Video */
video{width:100%;margin-top:20px}

/* Login */
.login-box{
  width:300px;
  background:#141414;
  padding:30px;
  margin:100px auto;
  text-align:center;
}

.login-box input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

/* Bottom Nav */
.bottom{
  height:60px;
  background:black;
  display:flex;
  justify-content:space-around;
  align-items:center;
  position:fixed;
  bottom:0;
  width:100%;
}
